.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 60px;
  margin-bottom: 32px;
  @media only screen and (max-width: 575px) {
    gap: 20px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 5px;
  }
}

.cta {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
  border: 0;
  background: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s ease-in color;
  @media only screen and (max-width: 575px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 16px;
  }
  &:hover {
    color: #5fb0e8;
  }
  &::before {
    display: block;
    content: attr(value);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.activeCta {
  color: #5fb0e8;
  font-weight: 600;
}
