.weatherWrapper {
  position: relative;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0, .1);
}

.today {
  padding-top: 36px;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
}

.currentWeather {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 57px
}

.currentCondition {
  padding-top: 4px;
}

.currentTemperature {
  font-size: 65px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 4px;
}

.currentDescription {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.forecast {
  display: flex;
  flex-wrap: nowrap;
}

.forecastItem {
  width: 25%;
  border-top: 3px solid #fff;
  text-align: center;
  padding: 20px 10px;
  &:not(:last-child) {
    border-right: 3px solid #fff;
  }
}

.forecastDay {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 15px;
}

.forecastTemperature {
  font-size: 28px;
  font-weight: 400;
}

.forecasstIcon {
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  animation: spin 2s infinite linear;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

