* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgba(0,0,0, .8);
  background: #edf6fb;
}

a {
  text-decoration: none;
  color: #1EBE8D;
}

a, button {
  outline: none;
}